
/* Make the body background black and the text white and also makes it so you can't select text */
html {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}
body {
    background-color: rgba(25,25,25,0.98);
    color: #EFEFEF; 
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
    font-family: "Kanit";
    background-image: url("../icons/Artboard 1@2x.png");
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    overflow: hidden;
}
/* Chromnium automatically makes it so you can't drag windows around, so to compensate for that
   you must add the .drag class to anything you want to move around. */
.drag {
    -webkit-app-region: drag;
}
/* To make a text area selectable (e.g. to copy and paste something) you use this class */
.select {
    -webkit-user-select: text;
}
/* If you need to copy and paste an entire area, use this class which will on one click,
   select all the contents of the container */
.select-all {
    -webkit-user-select: all;
}
/* If you want something to fade into the view, use .animate-in as it will cause it to fade
   into the render process. */
.animate-in {
    opacity: 0;
}
/* Make those scroll bars pretty. */
.hideScroll::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    width: 4px;
    z-index: 100;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgba(255,255,255, 0.0);
    transition: background 0.25s ease-in-out;
    -webkit-border-radius: 0px;
    border-radius: 0;
}
::-webkit-scrollbar-track:hover {
    background: rgba(255,255,255, 0.2);
    -webkit-border-radius: 0px;
    border-radius: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0px;
    background: rgba(255,255,255,0.5); 
     
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.2); 
}
/* TitleBar is shown on Darwin platforms because its awesome and we can make our own. */
#titlebar {
    min-height: 40px;
    max-height: 40px;
    background-color: #333;
    -webkit-app-region: drag;
    font-size: 15px;
}

/* This DIV is a fake body which contains the web contents. */
#body {
    width: 100%;
    overflow: hidden;
    opacity: 0;
}
/* This div is used if we need to show the menubar */
.body-os {
    min-height: calc(100% - 40px);
    max-height: calc(100% - 40px);
}
/* This class hides stuff out of sight, out of mind. (well, its still in memory) */
.hidden {
    display: none;
}
/* loaderContainer is a container for the loader module which is completely hidden from sight. */
.loaderContainer {
   
    display: none;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    transition: opacity ease-in-out 0.5s;
}
/* Makes things visible, used in loader to make a div visible again */
.loaderContainerVisible {
    display: block;
}
/* Some utilities */
.fullHeight {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}
.fullWidth {
    width: 100%;
}
.halfHeight {
    height: 50%;
    min-height: 50%;
    max-height: 50%;
}
.scroll {
    overflow: scroll;
}
.no-scroll {
    overflow: hidden;
}