
/* Make the body background black and the text white and also makes it so you can't select text */
body {
    color: #222; 
    background-color: rgba(255,255,255,0.98);
}

/* TitleBar is shown on Darwin platforms because its awesome and we can make our own. */
#titlebar {

    background-color: #EEE;
   
}


